
.playerBoardCell{
    border: 1px solid #01579b;
    width: 10%;
    height: 10%;
}
.playerBoard{
    width: 60%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;

}
.playerBoardWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hit{
    background-color: red;
}
.miss{
    background-color: gray;
}